In [1]:
#import libraries

#data wrangling and pre-processing
import numpy as np
import pandas as pd

#Data Visualization
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import plotly.express as px
import plotly.graph_objects as go

In [2]:
#Load the data set
import pandas as pd
data = pd.read_csv('C:/Users/obose/OneDrive/Desktop/training_set.csv')
data.head(7)

,IMD_Decile_From_LSOA,Age_Band,Sex,AE_Arrive_Date,AE_Arrive_HourOfDay,AE_Time_Mins,AE_HRG,AE_Num_Diagnoses,AE_Num_Investigations,AE_Num_Treatments,AE_Arrival_Mode,Provider_Patient_Distance_Miles,ProvID,Admitted_Flag,ICD10_Chapter_Code,Treatment_Function_Code,Length_Of_Stay_Days,Record_ID
0,7.0,18-24,2.0,2016-02-15T00:00:00Z,01-04,650,Low,2,2,1,1,8.0,15149,0,NaN,NaN,NaN,765388
1,7.0,1-17,2.0,2016-03-12T00:00:00Z,21-24,200,Low,1,1,1,2,1.0,15099,0,NaN,NaN,NaN,774977
2,2.0,45-64,2.0,2016-06-22T00:00:00Z,13-16,40,Low,1,1,4,2,1.0,15194,0,NaN,NaN,NaN,769250
3,1.0,85+,2.0,2015-04-14T00:00:00Z,17-20,110,Low,1,1,2,1,1.0,15260,1,IX,300,42.0,795829
4,3.0,18-24,1.0,2014-07-06T00:00:00Z,13-16,60,Low,1,2,2,2,2.0,15105,0,NaN,NaN,NaN,732712
5,4.0,65-84,1.0,2015-03-09T00:00:00Z,13-16,180,High,1,7,2,1,8.0,15231,1,Other,300,3.0,252909
6,8.0,65-84,1.0,2014-06-09T00:00:00Z,17-20,460,Low,1,10,10,1,16.0,15310,1,XIX,OTHER,23.0,141173

In [3]:
#Looking for variables Data type
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
 #   Column                           Non-Null Count   Dtype
---  ------                           --------------   -----
 0   IMD_Decile_From_LSOA             99734 non-null   float64
 1   Age_Band                         100000 non-null  object
 2   Sex                              99542 non-null   float64
 3   AE_Arrive_Date                   100000 non-null  object
 4   AE_Arrive_HourOfDay              99542 non-null   object
 5   AE_Time_Mins                     100000 non-null  int64
 6   AE_HRG                           98466 non-null   object
 7   AE_Num_Diagnoses                 100000 non-null  int64
 8   AE_Num_Investigations            100000 non-null  int64
 9   AE_Num_Treatments                100000 non-null  int64
 10  AE_Arrival_Mode                  100000 non-null  int64
 11  Provider_Patient_Distance_Miles  99734 non-null   float64
 12  ProvID                           100000 non-null  int64
 13  Admitted_Flag                    100000 non-null  int64
 14  ICD10_Chapter_Code               48782 non-null   object
 15  Treatment_Function_Code          49619 non-null   object
 16  Length_Of_Stay_Days              49623 non-null   float64
 17  Record_ID                        100000 non-null  int64
dtypes: float64(4), int64(8), object(6)
memory usage: 13.7+ MB

In [4]:
#Getting the shape of data
data.shape

(100000, 18)

In [5]:
data.isnull().values.any()

True

In [6]:
#checking missing values in dataset columnwise
data.isna().sum()

IMD_Decile_From_LSOA                 266
Age_Band                               0
Sex                                  458
AE_Arrive_Date                         0
AE_Arrive_HourOfDay                  458
AE_Time_Mins                           0
AE_HRG                              1534
AE_Num_Diagnoses                       0
AE_Num_Investigations                  0
AE_Num_Treatments                      0
AE_Arrival_Mode                        0
Provider_Patient_Distance_Miles      266
ProvID                                 0
Admitted_Flag                          0
ICD10_Chapter_Code                 51218
Treatment_Function_Code            50381
Length_Of_Stay_Days                50377
Record_ID                              0
dtype: int64

In [7]:
#To fill in the misssing values
# data.fillna(method = 'bfill') [backward fill]
# data.interpolate()

data['Sex'].fillna(data['Sex'].mean(), inplace=True)

In [8]:
data.Provider_Patient_Distance_Miles.fillna(method='ffill', inplace=True)
data.AE_HRG.fillna(method='ffill', inplace=True)

In [9]:
data['IMD_Decile_From_LSOA'].fillna(data['IMD_Decile_From_LSOA'].mean(), inplace=True)

In [10]:
data.fillna({
    'Length_Of_Stay_Days': 0,
    'Treatment_Function_Code': 0,
    'ICD10_Chapter_Code': 0
    
}, inplace = True)

In [11]:
data.isna().sum()

IMD_Decile_From_LSOA                 0
Age_Band                             0
Sex                                  0
AE_Arrive_Date                       0
AE_Arrive_HourOfDay                458
AE_Time_Mins                         0
AE_HRG                               0
AE_Num_Diagnoses                     0
AE_Num_Investigations                0
AE_Num_Treatments                    0
AE_Arrival_Mode                      0
Provider_Patient_Distance_Miles      0
ProvID                               0
Admitted_Flag                        0
ICD10_Chapter_Code                   0
Treatment_Function_Code              0
Length_Of_Stay_Days                  0
Record_ID                            0
dtype: int64

In [13]:
# #Created a new column called 'AE_Arrive_Hour' and filled it with converted the arrival time in minutes to hours. 
# # using apply function to create a new column
# data['AE_Arrive_Hour'] = pd.to_datetime(data.AE_Time_Mins, unit='m').dt.strftime('%H:%M')

# # Print the DataFrame after addition
# # of new column
# data.head(7)

# AE_Arrive_Hour.drop

In [14]:
#next is change the age band to numbers using hot encoder 
#0,1,2 this range, adult, teen, child

data['Age_Band'].value_counts()

65-84    21532
25-44    21299
45-64    19420
1-17     16889
85+      12360
18-24     8500
Name: Age_Band, dtype: int64

In [34]:
#We have 6 age categories 
#1-17 - children
#18-24 - Youth 
#25-44 - Young Adult
#45-64 - Adults
#65-84 - Mid aged
#85+ -  Seniors

#we use hot encoder 

# one_hot_encoded_data = pd.get_dummies(data, columns = ['Age_Band'])
# print(one_hot_encoded_data)

data['Age_Band'].replace({'1-17':0, 
                          '18-24':1,
                          '25-44':2, 
                          '45-64':3,
                          '65-84':4, 
                          '85+':5 }, inplace = True)
data.head(7)
data.tail(10)

#where age band  1-17 = 0,'18-24' = 1, '18-24' = 2, '25-44' = 3, 45-64' = 4,'65-84' = 5, '85+' = 6

,IMD_Decile_From_LSOA,Age_Band,Sex,AE_Arrive_Date,AE_Arrive_HourOfDay,AE_Time_Mins,AE_HRG,AE_Num_Diagnoses,AE_Num_Investigations,AE_Num_Treatments,AE_Arrival_Mode,Provider_Patient_Distance_Miles,ProvID,Admitted_Flag,ICD10_Chapter_Code,Treatment_Function_Code,Length_Of_Stay_Days,Record_ID
99990,4.0,2,2.0,2016-07-02T00:00:00Z,4.0,80,Nothing,1,1,1,2,1.0,15144,0,0,0,0.0,785423
99991,6.0,5,2.0,2018-01-23T00:00:00Z,2.0,880,Nothing,0,1,0,2,1.0,15383,0,0,0,0.0,841293
99992,7.0,4,2.0,2014-12-18T00:00:00Z,2.0,50,Low,2,2,2,2,6.0,15197,1,Other,300,6.0,643038
99993,9.0,4,2.0,2015-03-15T00:00:00Z,2.0,200,Nothing,0,6,1,1,2.0,15168,1,XI,300,12.0,760698
99994,6.0,0,2.0,2016-03-18T00:00:00Z,3.0,150,Low,0,2,1,1,0.0,15383,0,0,0,0.0,206438
99995,10.0,4,1.0,2017-09-07T00:00:00Z,0.0,230,High,1,4,4,1,7.0,15177,1,XI,300,14.0,922616
99996,5.0,5,2.0,2014-09-06T00:00:00Z,3.0,240,Low,1,1,2,1,6.0,15175,0,0,0,0.0,938129
99997,5.0,6,2.0,2017-08-17T00:00:00Z,2.0,180,High,1,5,3,2,3.0,15214,1,XVIII,420,1.0,555385
99998,10.0,5,2.0,2015-07-24T00:00:00Z,3.0,40,Nothing,1,1,1,2,155.0,15232,0,0,0,0.0,204676
99999,3.0,1,2.0,2017-10-16T00:00:00Z,3.0,200,High,1,8,7,2,3.0,15273,1,XIX,180,0.0,444739

In [28]:
data['AE_Arrive_HourOfDay'].value_counts()

09-12    25601
13-16    24572
17-20    22564
21-24    10585
01-04     8296
05-08     7924
Name: AE_Arrive_HourOfDay, dtype: int64

In [35]:
#We have 6 age categories 
#01-04 
#05-08  
#09-12 
#13-16 
#17-20 
#21-24


data['AE_Arrive_HourOfDay'].replace({'01-04':0, 
                          '05-08':1,
                          '09-12':2, 
                          '13-16':3,
                          '17-20':4, 
                          '21-24':5 }, inplace = True)
data.head(7)
data.tail(10)

,IMD_Decile_From_LSOA,Age_Band,Sex,AE_Arrive_Date,AE_Arrive_HourOfDay,AE_Time_Mins,AE_HRG,AE_Num_Diagnoses,AE_Num_Investigations,AE_Num_Treatments,AE_Arrival_Mode,Provider_Patient_Distance_Miles,ProvID,Admitted_Flag,ICD10_Chapter_Code,Treatment_Function_Code,Length_Of_Stay_Days,Record_ID
99990,4.0,2,2.0,2016-07-02T00:00:00Z,4.0,80,Nothing,1,1,1,2,1.0,15144,0,0,0,0.0,785423
99991,6.0,5,2.0,2018-01-23T00:00:00Z,2.0,880,Nothing,0,1,0,2,1.0,15383,0,0,0,0.0,841293
99992,7.0,4,2.0,2014-12-18T00:00:00Z,2.0,50,Low,2,2,2,2,6.0,15197,1,Other,300,6.0,643038
99993,9.0,4,2.0,2015-03-15T00:00:00Z,2.0,200,Nothing,0,6,1,1,2.0,15168,1,XI,300,12.0,760698
99994,6.0,0,2.0,2016-03-18T00:00:00Z,3.0,150,Low,0,2,1,1,0.0,15383,0,0,0,0.0,206438
99995,10.0,4,1.0,2017-09-07T00:00:00Z,0.0,230,High,1,4,4,1,7.0,15177,1,XI,300,14.0,922616
99996,5.0,5,2.0,2014-09-06T00:00:00Z,3.0,240,Low,1,1,2,1,6.0,15175,0,0,0,0.0,938129
99997,5.0,6,2.0,2017-08-17T00:00:00Z,2.0,180,High,1,5,3,2,3.0,15214,1,XVIII,420,1.0,555385
99998,10.0,5,2.0,2015-07-24T00:00:00Z,3.0,40,Nothing,1,1,1,2,155.0,15232,0,0,0,0.0,204676
99999,3.0,1,2.0,2017-10-16T00:00:00Z,3.0,200,High,1,8,7,2,3.0,15273,1,XIX,180,0.0,444739

In [26]:
data.isna().sum()

IMD_Decile_From_LSOA                 0
Age_Band                             0
Sex                                  0
AE_Arrive_Date                       0
AE_Arrive_HourOfDay                458
AE_Time_Mins                         0
AE_HRG                               0
AE_Num_Diagnoses                     0
AE_Num_Investigations                0
AE_Num_Treatments                    0
AE_Arrival_Mode                      0
Provider_Patient_Distance_Miles      0
ProvID                               0
Admitted_Flag                        0
ICD10_Chapter_Code                   0
Treatment_Function_Code              0
Length_Of_Stay_Days                  0
Record_ID                            0
dtype: int64

In [ ]:
#Next is to drop dublicates.
#drop the index col
#drop AE_Arrive_HourOfDay